body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Custom Scrollbar for Lightbox */
.lightbox-scroll::-webkit-scrollbar {
  width: 8px;
}
.lightbox-scroll::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.lightbox-scroll::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
